<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="monoandroid4.4.87" />
  <package id="OxyPlot.Xamarin.Android" version="1.0.0" targetFramework="monoandroid4.4.87" />
  <package id="System.Data.SqlClient" version="4.3.0" targetFramework="monoandroid4.4.87" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid60" />
</packages>